rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'sk.akbarsaheb2006@gmail.com';
    }
    match /products/{allPaths=**} {
      allow read: if true;
      allow create, update: if isAdmin()
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
      allow delete: if isAdmin();
    }
  }
}